@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/Poppins-Regular.eot");
  src: url("../fonts/Poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/Poppins-Black.eot");
  src: url("../fonts/Poppins/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Black.woff") format("woff"), url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Book"), url("GothamBook.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Book Italic"), url("GothamBookItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Light';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Light"), url("GothamLight.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Light Italic"), url("GothamLightItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Medium"), url("GothamMedium.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Medium"), url("GothamMedium_1.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Medium"), url("GothamMediumItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Bold"), url("GothamBold.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Bold"), url("Gotham-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Bold Italic"), url("GothamBoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Black Regular"), url("Gotham-Black.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Light Regular"), url("Gotham-Light.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Thin Regular"), url("Gotham-Thin.woff") format("woff"); }

@font-face {
  font-family: 'Gotham XLight Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham XLight Regular"), url("Gotham-XLight.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Book Italic"), url("Gotham-BookItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Thin Italic"), url("Gotham-ThinItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Ultra Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Ultra Italic"), url("Gotham-UltraItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham XLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham XLight Italic"), url("Gotham-XLightItalic.woff") format("woff"); }

/* servises styles */
html {
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

.wrapper-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

/* header page */
.page {
  width: 100%;
  height: 100vh;
  height: -webkit-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  /* for mobile desives */ }

.logo {
  width: 150px;
  height: 50px;
  background: #000; }

.logo--wrapper {
  margin: 2.5rem 0 1rem 0; }

.logo__text {
  font-family: "Gotham Black Regular", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: #fff;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase; }

.nav-social {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-size: 1.1rem; }

.nav-social__link {
  color: #000;
  -webkit-filter: blur(0.6px);
          filter: blur(0.6px); }

.nav-social--hover {
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s; }
  .nav-social--hover:hover {
    -webkit-transform: scale(3, 3);
        -ms-transform: scale(3, 3);
            transform: scale(3, 3);
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s; }

.line {
  width: 2px;
  height: 5rem;
  background: #000; }

.line--wrapper {
  margin-top: 3rem; }

.header__text {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: normal;
  white-space: nowrap;
  margin: 0;
  margin-top: 1.5rem; }

.play-video__link {
  display: block;
  margin-top: 1.5rem;
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  -webkit-box-shadow: inset 0 0 0 2px #000;
          box-shadow: inset 0 0 0 2px #000;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  position: relative; }
  .play-video__link:hover {
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s; }

.play-video--icon {
  color: #000;
  line-height: 80px;
  font-size: 1.5rem; }

.play-video__text {
  display: none;
  position: absolute;
  width: 150px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  margin-top: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "Gotham Black Regular", Arial, Helvetica, sans-serif;
  letter-spacing: 0.25rem;
  -webkit-text-stroke: 1px #ff5617;
  opacity: 0; }

.play-video__text--in {
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
  opacity: 1;
  margin-top: 0.5rem; }

.play-video__text--out {
  -webkit-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s;
  opacity: 0;
  margin-top: -0.5rem; }

/* video popup styles */
.white-popup {
  position: relative;
  padding: 25px;
  width: auto;
  max-width: 400px;
  margin: 0 auto; }

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8); }
  .mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0; }
  .mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0; }

/* end video popup styles */
.discover-btn {
  display: block;
  width: 150px;
  height: 35px;
  background: #ff5617;
  text-decoration: none;
  color: #fff;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gotham Black Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2rem; }
  .discover-btn:hover {
    background: none;
    color: #ff5617;
    border: solid 1px #ff5617; }

.discover-btn--wrapper {
  margin-top: 2rem; }

.header-menu {
  position: fixed;
  z-index: 120;
  top: 2.5rem;
  right: 5%;
  margin-right: -webkit-calc(-1 * (100vw - 100%));
  margin-right: calc(-1 * (100vw - 100%));
  /* fix for fixed modal window */ }

.header-menu__link {
  color: #000; }

.header-menu-overlay {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  height: -webkit-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  /* fix for mobile devises */
  width: 0;
  top: 0;
  right: 0;
  background: #fff;
  opacity: 0.9;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s; }

.header-menu-overlay__close {
  position: absolute;
  color: #000;
  top: 2rem;
  right: 5%;
  margin-right: -webkit-calc(-1 * (100vw - 100%));
  margin-right: calc(-1 * (100vw - 100%));
  /* fix for fixed modal window */ }

.header-menu-overlay__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s; }

.header-menu-overlay__item {
  margin-top: 1.5rem; }

.header-menu-overlay__link {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: #000;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear; }
  .header-menu-overlay__link:hover {
    color: blueviolet; }

.page-bg {
  background: url("../img/bg.jpg");
  background-position: center;
  height: -webkit-calc(var(--vh, 1vh) * 100 + 150px);
  height: calc(var(--vh, 1vh) * 100 + 150px);
  background-color: #666;
  position: absolute;
  z-index: -100;
  width: 100%;
  top: -75px;
  overflow: hidden; }
  @media (max-height: 800px) {
    .page-bg {
      top: 25px; } }

.page-z {
  z-index: 100;
  background: #fff; }

/* second page */
.service-slider__overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: #fff; }

.service-slider {
  position: relative;
  width: 40%;
  height: 85vh;
  z-index: 101;
  overflow: hidden; }
  @media (max-width: 1170px) {
    .service-slider {
      margin-left: 1rem; } }

.service-slider__wrapper {
  position: absolute;
  -webkit-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
  width: 100%;
  margin-top: 10vh; }

.service-slider-item {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  position: absolute;
  margin-top: 10vh;
  width: 100%;
  -webkit-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s; }

.service-slider-item--second {
  left: 100%; }

.service-slider-item--last {
  left: 200%; }

.service-slider-item__upperheader {
  font-size: 24px;
  margin: 0;
  padding: 0;
  pointer-events: none;
  /* disable onclick (for correctly working slider) */ }
  @media (max-width: 800px) {
    .service-slider-item__upperheader {
      font-size: 16px; } }

.service-slider-item__header {
  font-size: 50px;
  margin: 0;
  padding: 0;
  pointer-events: none;
  /* disable onclick (for correctly working slider) */ }
  @media (max-width: 800px) {
    .service-slider-item__header {
      font-size: 20px; } }

.service-slider-item__text {
  font-size: 22px;
  pointer-events: none;
  /* disable onclick (for correctly working slider) */ }
  @media (max-width: 800px) {
    .service-slider-item__text {
      font-size: 14px; } }

.service-slider-item__mark {
  pointer-events: none;
  /* disable onclick (for correctly working slider) */ }
