@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/Poppins-Regular.eot");
  src: url("../fonts/Poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/Poppins-Black.eot");
  src: url("../fonts/Poppins/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Black.woff") format("woff"), url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Book"), url("GothamBook.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Book Italic"), url("GothamBookItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Light';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Light"), url("GothamLight.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Light Italic"), url("GothamLightItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Medium"), url("GothamMedium.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Medium"), url("GothamMedium_1.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Medium"), url("GothamMediumItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Bold"), url("GothamBold.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Bold"), url("Gotham-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Bold Italic"), url("GothamBoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Black Regular"), url("Gotham-Black.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Light Regular"), url("Gotham-Light.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Thin Regular"), url("Gotham-Thin.woff") format("woff"); }

@font-face {
  font-family: 'Gotham XLight Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham XLight Regular"), url("Gotham-XLight.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Book Italic"), url("Gotham-BookItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Thin Italic"), url("Gotham-ThinItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham Ultra Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Ultra Italic"), url("Gotham-UltraItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gotham XLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Gotham XLight Italic"), url("Gotham-XLightItalic.woff") format("woff"); }

/* servises styles */
html {
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

.wrapper-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media screen and (max-width: 1024px) {
    .wrapper-flex {
      height: 100vh;
      height: -webkit-calc(var(--vh, 1vh) * 100);
      height: calc(var(--vh, 1vh) * 100);
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

/* header page */
.page {
  width: 100%;
  height: 100vh;
  height: -webkit-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  /* for mobile desives */ }

.logo {
  width: 150px;
  height: 50px;
  background: #000; }
  @media screen and (max-height: 600px) {
    .logo {
      width: 90px;
      height: 30px; } }

.logo--wrapper {
  margin: 2.5rem 0 1rem 0; }
  @media screen and (max-height: 600px) {
    .logo--wrapper {
      margin: 0; } }

.logo__text {
  font-family: "Gotham Black Regular", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: #fff;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (max-height: 600px) {
    .logo__text {
      font-size: 16px;
      line-height: 30px; } }

.nav-social {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-size: 1.1rem; }
  @media screen and (max-height: 600px) {
    .nav-social {
      width: 90px;
      font-size: 0.8rem; } }

.nav-social__link {
  color: #000;
  -webkit-filter: blur(0.6px);
          filter: blur(0.6px); }

.nav-social--hover {
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s; }
  .nav-social--hover:hover {
    -webkit-transform: scale(3, 3);
        -ms-transform: scale(3, 3);
            transform: scale(3, 3);
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s; }

.line {
  width: 2px;
  height: 5rem;
  background: #000; }
  @media screen and (max-height: 600px) {
    .line {
      height: 3rem; } }

.line--wrapper {
  margin-top: 3rem; }
  @media screen and (max-height: 600px) {
    .line--wrapper {
      margin-top: 1rem; } }

.header__text {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: normal;
  white-space: nowrap;
  margin: 0;
  margin-top: 1.5rem; }

.play-video__link {
  display: block;
  margin-top: 1.5rem;
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  -webkit-box-shadow: inset 0 0 0 2px #000;
          box-shadow: inset 0 0 0 2px #000;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  position: relative; }
  .play-video__link:hover {
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s; }
    .play-video__link:hover .play-video--icon {
      color: #FFDD40; }
  @media screen and (max-height: 600px) {
    .play-video__link {
      width: 50px;
      height: 50px; } }

.play-video--icon {
  color: #000;
  line-height: 80px;
  font-size: 1.5rem; }
  @media screen and (max-height: 600px) {
    .play-video--icon {
      line-height: 50px;
      font-size: 1rem; } }

.play-video__text {
  position: absolute;
  width: 150px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  margin-top: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "Gotham Black Regular", Arial, Helvetica, sans-serif;
  letter-spacing: 0.25rem;
  -webkit-text-stroke: 1px #FFDD40;
  opacity: 0; }
  @media screen and (max-height: 600px) {
    .play-video__text {
      width: 120px;
      margin-top: 1rem;
      font-size: 8px; } }

.play-video__text--in {
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
  opacity: 1;
  margin-top: 0.5rem; }

.play-video__text--out {
  -webkit-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s;
  opacity: 0;
  margin-top: -0.5rem; }

/* video popup styles */
.play-video__iframe {
  width: 50vw;
  height: 50vh; }
  @media (max-width: 800px) {
    .play-video__iframe {
      width: 75vw; } }

.play-video__content {
  visibility: hidden;
  position: fixed;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  z-index: 103;
  width: 50vw;
  height: 50vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s; }
  @media (max-width: 800px) {
    .play-video__content {
      width: 75vw; } }

.play-video__close {
  position: absolute;
  width: 22px;
  height: 32px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  left: 100%;
  bottom: 60%;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s; }
  @media (max-height: 1280px) {
    .play-video__close {
      bottom: 120%; } }
  @media (max-width: 800px) {
    .play-video__close {
      bottom: 75%;
      left: 100%; } }
  @media screen and (max-height: 600px) {
    .play-video__close {
      bottom: 125%;
      left: 80%; } }

/* end video popup styles */
.discover-btn {
  display: block;
  width: 150px;
  height: 35px;
  background: #000;
  text-decoration: none;
  color: #fff;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gotham Black Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2rem; }
  .discover-btn:hover {
    background: none;
    color: #FFDD40;
    border: solid 1px #FFDD40; }
  @media screen and (max-height: 600px) {
    .discover-btn {
      width: 90px;
      height: 20px;
      line-height: 20px;
      font-size: 10px; } }

.discover-btn--wrapper {
  margin-top: 2rem; }
  @media screen and (max-height: 600px) {
    .discover-btn--wrapper {
      margin-top: 1rem; } }

.header-menu {
  position: fixed;
  z-index: 120;
  top: 2.5rem;
  right: 5%;
  margin-right: -webkit-calc(-1 * (100vw - 100%));
  margin-right: calc(-1 * (100vw - 100%));
  /* fix for fixed modal window */ }

.header-menu__link {
  color: #000; }

.header-menu-overlay__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header-menu-overlay {
  position: fixed;
  visibility: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  height: -webkit-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  /* fix for mobile devises */
  width: 0;
  top: 0;
  right: 0;
  background: #fff;
  opacity: 0.9;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s; }

.header-menu-overlay__close {
  position: absolute;
  color: #000;
  top: 2rem;
  right: 5%;
  margin-right: -webkit-calc(-1 * (100vw - 100%));
  margin-right: calc(-1 * (100vw - 100%));
  /* fix for fixed modal window */ }

.header-menu-overlay__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s; }

.header-menu-overlay__item {
  margin-top: 1.5rem; }
  @media screen and (orientation: landscape) and (max-height: 600px) {
    .header-menu-overlay__item {
      margin-top: 1rem; } }

.header-menu-overlay__link {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: #000;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear; }
  .header-menu-overlay__link:hover {
    color: #FFDD40; }
  @media screen and (orientation: landscape) and (max-height: 600px) {
    .header-menu-overlay__link {
      font-size: 18px; } }

.page__firstpage-bg {
  background: url("../img/bg.jpg") no-repeat;
  background-position: bottom;
  height: -webkit-calc(var(--vh, 1vh) * 100 + 150px);
  height: calc(var(--vh, 1vh) * 100 + 150px);
  position: absolute;
  z-index: -100;
  width: 100%;
  top: -75px;
  overflow: hidden; }
  @media (max-height: 800px) {
    .page__firstpage-bg {
      top: 25px; } }
  @media (max-height: 1195px) {
    .page__firstpage-bg {
      background-position: center; } }
  @media (max-width: 800px) {
    .page__firstpage-bg {
      height: -webkit-calc(var(--vh, 1vh) * 100);
      height: calc(var(--vh, 1vh) * 100);
      top: 0; } }

.page__firstpage-overlay {
  visibility: hidden;
  position: absolute;
  background: #000;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 102;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s; }

/* second page */
.second-page {
  z-index: 100;
  background: #fff;
  height: 70vh;
  height: -webkit-calc(var(--vh, 1vh) * 70);
  height: calc(var(--vh, 1vh) * 70);
  /* fix for mobile devises */ }
  @media screen and (max-width: 1000px) {
    .second-page {
      height: 140vh;
      height: -webkit-calc(var(--vh, 1vh) * 100);
      height: calc(var(--vh, 1vh) * 100); } }

.service-slider {
  position: absolute;
  width: 50vw;
  height: 50vh;
  overflow: hidden;
  top: 0;
  bottom: 0;
  margin: auto 0; }
  @media screen and (max-width: 1000px) {
    .service-slider {
      top: -35%;
      width: 100vw; } }

.service-slider__wrapper {
  position: absolute;
  width: 150vw;
  height: 50vh; }
  .service-slider__wrapper::after {
    content: '';
    display: block;
    clear: both; }
  @media screen and (max-width: 1000px) {
    .service-slider__wrapper {
      width: 300vw; } }

.service-slider__item {
  width: 50vw;
  height: 50vh;
  display: block;
  float: left;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s; }
  @media screen and (max-width: 1000px) {
    .service-slider__item {
      width: 100vw; } }

.service-slider-item__upperheader {
  font-size: 24px;
  margin: 0;
  padding: 0;
  pointer-events: none;
  /* disable onclick (for correctly working slider) */ }

.service-slider-item__header {
  font-size: 48px;
  margin: 0;
  padding: 0;
  pointer-events: none;
  /* disable onclick (for correctly working slider) */ }

.service-slider-item__mark {
  color: #FFDD40; }

.service-slider-item__text {
  font-size: 22px;
  pointer-events: none;
  /* disable onclick (for correctly working slider) */ }

.service-slider-item__mark {
  pointer-events: none;
  /* disable onclick (for correctly working slider) */ }

.service-slider__paginator {
  position: absolute;
  list-style: none;
  padding-left: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  bottom: 0; }
  @media screen and (max-width: 1000px) {
    .service-slider__paginator {
      bottom: 25%; } }

.service-slider__paginator-item {
  margin-right: 1rem;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 100%;
  text-align: center;
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 50px; }
  .service-slider__paginator-item:hover {
    background: #FFDD40;
    border-color: #FFDD40;
    color: #fff; }

.service-slider__paginator-link {
  text-decoration: none;
  color: #000; }

.paginator-item--selected {
  background: #FFDD40;
  border-color: #FFDD40;
  color: #fff; }

.devises-slider {
  top: -70%;
  position: absolute;
  right: 0;
  height: 70vh;
  width: 40vw;
  overflow: hidden; }
  @media screen and (max-width: 1200px) {
    .devises-slider {
      top: 0;
      height: 60vh; } }
  @media screen and (max-width: 1000px) {
    .devises-slider {
      right: 0;
      left: 0;
      margin: 0 auto;
      top: 35%;
      width: 100vw;
      height: 80vh; } }

.devises-slider__wrapper {
  position: absolute;
  width: 80vw;
  height: 70vh;
  -webkit-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s; }
  .devises-slider__wrapper::after {
    content: "";
    display: block;
    clear: both; }
  @media screen and (max-width: 1200px) {
    .devises-slider__wrapper {
      height: 60vh; } }
  @media screen and (max-width: 1000px) {
    .devises-slider__wrapper {
      width: 200vw;
      height: 80vh; } }

.devises-slider__item {
  position: relative;
  float: left;
  width: 40vw;
  height: 70vh; }
  @media screen and (max-width: 1200px) {
    .devises-slider__item {
      height: 60vh; } }
  @media screen and (max-width: 1000px) {
    .devises-slider__item {
      width: 100vw; } }

.devises-slider__bg {
  position: absolute;
  bottom: 10%;
  right: 0;
  width: 30vw;
  height: 50vh;
  background: #000; }
  @media screen and (max-width: 1200px) {
    .devises-slider__bg {
      height: 40vh; } }
  @media screen and (max-width: 1000px) {
    .devises-slider__bg {
      width: 70vw;
      left: 0;
      right: 0;
      margin: auto; } }

.devises-slider__bg--yellow {
  background: #FFDD40; }

.devises-slider__img {
  position: absolute;
  width: 60vw;
  height: 70vh;
  left: -15%;
  top: 0%; }
  @media screen and (max-width: 1000px) {
    .devises-slider__img {
      width: 90vw;
      height: 90vh;
      left: 0%;
      top: -15%; } }

.devises-slider__img--mac {
  background: url(../img/mac.png) no-repeat;
  background-position: center;
  background-size: 50%; }
  @media screen and (max-width: 1000px) {
    .devises-slider__img--mac {
      background-size: 60%; } }

.devises-slider-paginator {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 55%;
  left: 7vw; }
  @media screen and (max-width: 1000px) {
    .devises-slider-paginator {
      z-index: 110;
      top: 35%;
      left: 0;
      width: 90vw;
      margin: 0 5vw;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.devises-slider-paginator__button {
  width: 3vw;
  height: 100px;
  background: #FFDD40;
  text-align: center;
  line-height: 110px;
  color: #000; }
  .devises-slider-paginator__button:hover {
    opacity: 0.5; }
  @media screen and (max-width: 1000px) {
    .devises-slider-paginator__button {
      width: 7vw; } }

.devises-slider-paginator--selected {
  background: #000;
  color: #FFDD40; }

.page--third {
  height: 70vh;
  overflow: hidden; }

.third-page__bg {
  background: url("../img/69.jpg") no-repeat;
  height: -webkit-calc(70vh + 300px);
  height: calc(70vh + 300px);
  width: 100%;
  top: -150px;
  position: absolute;
  background-position: center;
  background-size: cover; }

.page--four {
  z-index: 103; }
