@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/GothamBlack/Gotham-Black.eot');
    src: url('../fonts/GothamBlack/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamBlack/Gotham-Black.woff2') format('woff2'),
        url('../fonts/GothamBlack/Gotham-Black.woff') format('woff'),
        url('../fonts/GothamBlack/Gotham-Black.ttf') format('truetype'),
        url('../fonts/GothamBlack/Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 500;
    font-style: normal;
}

